@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (min-width: 769px) {
  p {
    font-size: 2rem;
  }

  a {
    font-size: 2rem;
  }

  .blogHead {
    font-size: 2rem;
  }

  .blogSubHead {
    font-size: 1.5rem;
  }

  .blogContent {
    font-size: 1rem;
  }

  .blogpost * {
    margin: 0 20% 0 20%;
  }

  .mobileonly {
    display: none;
  }

  .navbar {
    margin: 10px 0 30px 0;
  }

}

@media screen and (max-width: 769px) {
  p {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.5rem;
    text-align: left;
  }

  .blogHead {
    font-size: 1.5rem;
  }

  .blogSubHead {
    font-size: 1rem;
  }

  .blogContent {
    font-size: 1rem;
  }

  .blogpost * {
    margin: 0 5% 0 5%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin: 20px 0 20px 0;
  }

  .navbar li a {
    padding: 0;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 5px;
  }

}

.navbar {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  background-color: white;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  background-color: white;
  margin: 0;

}

li .active {
  color: #4b54d4;
}

a:hover {
  text-decoration: underline;
}

body * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  background-color: white;
  text-transform: uppercase;
}

p {
  margin-left: 30px;
}

a {
  margin-left: 50px;
  margin-bottom: 15px;
  color: black;
  text-decoration: underline;
  display: block;
}

img {
  margin-top: 10px;
  margin-left: 50px;
  width: clamp(150px, 1fr, 100%);
}

.blogpost * {
  text-align: center;
}

.blogHead {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blogSubHead {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blogContent {
  text-transform: none;
  text-align: left;
  margin-bottom: 20px;
}